<style>
        .explore_product{padding:25px 0px;background-color:#001A33;}
        .explore_product .wrp-products h2 {
        text-align: center;
        color: #fff;
        margin-bottom: 50px;
        margin-top: 25px;
        }

        .explore_product .h-border-bottom:after {
        opacity: 0;
        }
        .explore_product  .product-card {
        background: #fff;
        border-radius: 25px;
        padding: 25px;
        }
        .explore_product   .pro_subtitle {
        color: #000;
        font-size: 22px;
        line-height: normal;
        font-weight: 400;
        }
        .explore_product  .wrp_inner_list ul  .grid__item {
        padding: 0 20px;
        }

        .explore_product  .wrp_inner_list ul {
        margin: 0 -20px;
        }
  /*   ===================================== Responsive =============== */
        @media(max-width: 767px){
           .explore_product   .product-card__image-with-placeholder-wrapper{max-width:70%}
            .explore_product .wrp_inner_list ul {
            margin: 0;
            }
            .explore_product .wrp-products h2 {
            padding: 0 20px;
            }
            .explore_product .wrp_inner_list ul.slick-dots {
            margin: 0 auto;
            }
            .explore_product .wrp_inner_list .wc_product_review_badge .wc_review_badge_inner .wc_product_review_title {
            color: #000;
            }
            .explore_product   .wrp_inner_list .product-card__title {
            color: #000;
            font-size: 18px;
            line-height: normal;
            }

            .explore_product .pro_subtitle {
            font-size: 16px;
            }
            .explore_product .page-width {
            padding: 0;
            }
            .explore_product .wrp_inner_list .price-item {
            color: #000;
            }
            .explore_product .wrp-products span.wc_product_review_avg_badge_text {
            display: inline-block;
            color: #000;
            }
        }
    @media(max-width: 479px){
      .explore_product .wrp_inner_list ul .grid__item {
          padding: 0 7px;
      }
      .explore_product .product-card {
         padding: 20px;
      }
     .explore_product  .slick-dots li {
          margin-left: 6px;}
    }
</style>

<div class="explore_product">
  <div class="page-width">
    <div class="wrp-products">
      {% if section.settings.mob_heading != blank %}
        <h2>{{ section.settings.mob_heading }}</h2>
      {% endif %}
      {% if section.settings.products != blank %}
        <div class="wrp_inner_list">
          <ul>
            {% for wcproduct in section.settings.products %}
              {% if wcproduct.title != product.title %}
                <li class="grid__item grid__item--{{section.id}}">
                  {% include 'explore-product-card-grid',
                    max_height: max_height,
                    product: wcproduct,
                    show_vendor: section.settings.show_vendor
                  %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<script>
    $( document ).ready(function() {
        $('.explore_product .wrp_inner_list ul').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            dots: true,
            prevArrow: false,
            nextArrow: false,
         responsive: [
                {
                  breakpoint: 992,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 768,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    centerMode: true
                  }
                }
              ]
        });
  });
</script>
{% schema %}
{
  "name": "Explore product",
  "settings": [
      {
          "type" : "text",
          "id" : "mob_heading",
          "label" : "Mobile heading"
      },
      {
        "type": "product_list",
        "id": "products",
        "label": "Products"
      }
  ],
  "presets" : [
    {
        "name" : "Explore product"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
