.custom-featured-product-wrapper {display: grid;grid-template-columns: repeat(3, 1fr);gap: 30px;}
.featured-product-wrapper {background: #384151;border-radius: 30px;position: relative;}
.featured-product-wrapper .tubs-text h4 {font-size: 48px;color: #ffffff;font-weight: 900;margin: 0;}
.featured-product-wrapper .tubs-text p {font-size: 16px;color: #a3a3a3;}

.featured-product-wrapper .top-badge span {font-size: 20px;font-weight: 900;color: #fff;letter-spacing: 3px;}
.featured-product-wrapper .top-badge {position: absolute;top: -50px;left: 50%;transform: translateX(-50%);background: #68a037;z-index: 0;width: max-content;padding: 7px 50px;border-radius: 20px 20px 0 0;min-height: 50px;}
.custom-featured-product {padding-top: 454px;}
.featured-product-wrapper .product-item {padding: 120px 30px 20px 30px;height: 100%;display: flex;flex-direction: column;}
h4.product_discount_price.text-center {font-size: 58px;color: #fff;font-weight: 900;margin: 0;}
.featured-product-wrapper .product__price p {font-size: 16px;color: #a3a3a3;font-weight: 600;margin: 0;}
span.product_compare_price.text-center {font-size: 20px;color: #fff;margin: 0;display: block;}

.custom_product_add .custom_product_add_wrapper,.custom_product_add .custom_product_add_button{background: #fff;text-transform: uppercase;font-family: Futura PT,sans-serif;font-weight: 900;color: #384151;width: 100%;min-height: 80px;border-radius: 20px;display: flex;align-items: center;justify-content: center;column-gap: 15px;}
.custom_product_add .custom_product_add_wrapper span svg,.custom_product_add .custom_product_add_button span svg{width: 30px;height: 30px;display: block;}
.money_back_guarantee {position: absolute;width: max-content;left: 50%;transform: translateX(-50%);background: #e8e8e8;padding: 13px 30px;border-radius: 0 0 20px 20px;    bottom: -50px;}
.money_back_guarantee span {color: #696e78;font-size: 16px;font-weight: 900;display: block;}
.featured-product-wrapper .product__price {padding-bottom: 10px;}
.price-off span {background: #d70000;color: #fff;font-size: 40px;text-transform: uppercase;font-weight: 600;padding: 10px 15px;display: inline-block;line-height: 32px;border-radius: 10px 0 0 10px;font-family: 'Dharma Gothic E ExBold' !important;}
.featured-product-wrapper .tubs-text.text-center {min-height: 82px;}
.price-off.text-right {position: absolute;right: 0;top: 60px;}
.product_featured_img {position: relative;    padding-top: 53%;margin: 70px 0;}

.template-page.page-new-magnesium .featured-product-wrapper .tubs-text.text-center{min-height: 56px}
.template-page.page-new-magnesium .product_featured_img{margin: 50px 0 70px;}
.variant_drp_dwn{padding-top: 40px;}
.variant_drp_dwn .main_val{padding-top: 8px;padding-left: 12px;padding-bottom: 8px;font-size: 20px;}
.variant_drp_dwn .select_box_inr h6{color: #FFF;margin-bottom: 5px;font-weight: 400;padding-right: 15px;}
.variant_drp_dwn .select_box_inr{padding-bottom: 25px;display: flex;align-items: center;}
.custom_product_add{margin-top: auto;}
/* .template-new-magnesium .tubs-text:after */
.product_featured_img img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: contain;
  
}
#shopify-section-template--16643150479525__featured_product_aPEHK9 .custom-featured-product {
    padding-top: 100px;
}

@media screen and (max-width: 1200px) {
  .custom-featured-product-wrapper {display: grid;grid-template-columns: repeat(2, 1fr);gap: 20px;row-gap: 80px;}
  /* .custom-featured-product {padding-top: 354px;} */
}
@media screen and (max-width: 768px) {
  .custom-featured-product-wrapper {display: grid;grid-template-columns: repeat(1, 1fr);gap: 20px;row-gap: 100px;}
  .custom-featured-product-wrapper .featured-product-wrapper:nth-child(2) {margin-top: 50px;}
  .product_featured_img {margin: 10px 0;}
  .price-off.text-right {top: 40px;}
  .featured-product-wrapper .product-item {    padding: 40px 30px 20px;}
  .featured-product-wrapper .product__price {padding-bottom: 30px;}
}



























