.inner_content_text{border:5px solid;padding:10px 14px;text-align:left;}
.incredient_heading h3{font-size:46px;font-weight:700;line-height:38px;color:#000;margin-bottom:10px;}
.incredient_heading p{font-size:22px;color:#000;margin-bottom:0;line-height:24px;font-weight:500;}
.incredient_heading{border-bottom:5px solid #000;padding-bottom:9px;}
.inner_content_text h5{font-size:25px;line-height:37px;text-align:right;color:#000;margin-bottom:3px;}
.inner_content_text ul,.product-single__description .inner_content_text ul{margin-left:0;margin-right:0;margin-bottom:0;}
.rte .inner_content_text h5{margin-top:0;margin-bottom:0;}
.product-single__description .inner_content_text ul li{margin-bottom:0;}
.inner_content_text ul li{border-top:2px solid #000;padding:5px 0;list-style-type:none;}
.inner_content_text ul li label{display:flex;justify-content:space-between;flex-wrap:wrap;}
.inner_content_text ul li label span{font-size:25px;font-weight:500;color:#000;line-height:26px;}
.inner_content_text ul li p{font-size:19px;line-height:19px;color:#000;font-weight:500;}
.inner_content_text ul li label + p{margin-bottom:4px;}
.inner_content_text ul li label span:first-child{display:flex;margin-right:10px;width:calc(100% - 120px);flex-wrap:wrap;align-items:center;}
.inner_content_text ul li label span p{font-weight:400;margin-left:4px;}
.inner_content_text h6{display:flex;justify-content:space-between;font-weight:700;color:#000;border-top:5px solid #000;padding:8px 0;margin-bottom:8px;font-size:18px;line-height:21px;}
.inner_content_text p{font-weight:500;}
.inner_content_text p,.inner_content_text p b{font-size:19px;line-height:19px;color:#000;}
.grid__item .inner_content_text > p:last-of-type{border-top:5px solid #000;padding-top:8px;margin-bottom:0;}
.grid__item .inner_content_text h5{text-align:right;}
.grid__item .inner_content_text > p{border-top:3px solid #000;margin-bottom:8px;padding-top:8px;}
.grid__item .ingredient-wrapper > *{max-width:550px;}
@media(max-width:991px){
  .inner_content_text ul li label span:first-child{width:calc(100% - 100px);}
  .incredient_heading h3{font-size:40px;line-height:32px;}
  .inner_content_text h5{font-size:20px;line-height:32px;}
  .inner_content_text ul li label span{font-size:20px;line-height:25px;}
  .inner_content_text h6{font-size:16px;line-height:20px;}
  .inner_content_text p,.inner_content_text p b{font-size:16px;line-height:19px;}
}
@media(max-width:350px){
  .inner_content_text ul li label span{font-size:18px;line-height:20px;}
  .inner_content_text ul li p{font-size:16px;line-height:18px;}
}