// Calculate the progress number, and the width of the progress bar. Compiled to ES5.

function calculateProgress(currentVal, targetVal) {
  var cart_total_amt = currentVal / 100;
  var threshold_amt = Number($(".qualifie_progressbar_text").val());  
  console.log("currentVal", cart_total_amt, "--", threshold_amt);
  var result = Number((cart_total_amt * 100/threshold_amt));
  var remaining_amt =  threshold_amt - cart_total_amt ;
  $(".progress_result").find("span").text(cart_total_amt); 
  
  if(result < 100){
    $(".progress-bar").css("width", result+"%");
    var amt_message = $(".progress_result").attr("data-text");
    let result_mgs = amt_message.replace("<span> </span>", remaining_amt.toFixed(2));
    $(".progress_result").text(result_mgs);
  }else{
    $(".progress-bar").css('width','100%');
    var success_message = $(".qualifie_progressbar_text").attr("data-success");
    $(".progress_result").text(success_message);
  }
}

var shop_currency_default = $('#shop_currency_val').text();


function myCartSection() {
  var SideContentHeight = $('.block-cart-header').innerHeight() + $('.block-cart-footer').innerHeight() + $('.cart-shipping__wrapper').innerHeight() + $('.cartDrawer-header-bottom').innerHeight();
  $('#cart_container_id .cart-middle-items').css('height', $(window).height() - SideContentHeight + 'px');
}
jQuery(window).resize(function(){
  myCartSection();
});

var shop_currency;
if(typeof $.cookie('currency') === 'undefined'){
  shop_currency = shop_currency_default;
} else{
  shop_currency = $.cookie('currency');
}

var wc_theme_source = {
  lib:{
    ajax_error: function(error, message){
      var data = eval('('+error.responseText+')');
      if (!!data.message) {
        $('#added_product_popup').find('h3').text(data.description);
        $('#added_product_popup').find('.cart_redirect_btn').hide();
        $('#added_product_popup').show("clip", 500);
      }
    },
    on_cart_update: function(item){
      setTimeout(function(){
        var SideContentHeight = $('.block-cart-header').innerHeight() + $('.bottom_cont').innerHeight();
        $('#cart_container_id .form-inner').css('height', $(window).height() - SideContentHeight + 'px');
        //console.log("SideContentHeight",SideContentHeight);
      },500);
      setTimeout(function(){
        function check_upsell_code(){
          var upsell_array = new Array();
          $('#wc_cart_drawer_upsell .wc_upsell_grid').each(function(index){
            var upsell_this = $(this);
            var upsell_handle = upsell_this.data('upsell');
            if(jQuery.inArray(upsell_handle, upsell_array) != -1){
              upsell_this.remove();
            } else{
              upsell_array.push(upsell_handle);
            } 
          });
          jQuery.getJSON('/cart.js', function(cart){
            
            $.each(cart.items, function(key, val){
              $('#wc_cart_drawer_upsell .wc_upsell_grid').each(function(index){
                var upsell_this = $(this);
                var upsell_handle = upsell_this.data('upsell');
                if(val.handle == upsell_handle){
                  upsell_this.remove();
                }
              });
              if(key === cart.items.length - 1){
                if($('#wc_cart_drawer_upsell .wc_upsell_grid').length < 1){
                  $('#CartContainer .upsell_content').remove();
                }
                $('.upsell_content').show();
              }
            });
          });
        }
       
        
        var upsell_final_html = '';
        
        jQuery.getJSON('/cart.js', function(cart) {   
          var calculateprice = "{{ settings.free_shipping | times: 100 }}";
          if(cart.item_count > 0){
            calculateProgress(cart.total_price, calculateprice );
          }
          $('.site-header__cart-count span.count_prod').html(cart.item_count);
          $('.cart_qty_cls').html(cart.item_count);
          var shipping_price = parseFloat({{ settings.free_shipping_value }});
          var total_price = Shopify.formatMoney(cart.total_price, shop_currency_default).replace(/[^\d\.]/g, '');
          var remaining_value = parseFloat(shipping_price) - parseFloat(total_price);
          var final_value = remaining_value.toFixed(2);			
          if( final_value < 0 ){   
            $('.free_shipping').css('display','inline-block');
            $('.notFree_shipping').hide();    
          }
          else{    
            $('.remaining_value').text('$'+final_value);
            $('.notFree_shipping').css('display','inline-block');
            $('.free_shipping').hide();   
          }
          if( cart.item_count > 0 ){   
            $('.cart-shipping__wrapper').show();  
            $('.cart-container.cart-hed').css('margin-top',0);
          }
          else{    
            $('.cart-shipping__wrapper').hide();   
            $('.cart-container.cart-hed').css('margin-top',50);
          }
          
          if(cart.item_count > 0){
            
            var cart_price = Shopify.formatMoney(cart.total_price, shop_currency_default);
            
            if($('.items_carts span').hasClass('money')){
              $('.items_carts span').remove();
              $('.items_carts').html("<span class='money'>"+cart_price+"</span>");
            } else{
              $('.items_carts').html("<span class='money'>"+cart_price+"</span>");
            }
            
          } else{
            
            $('.items_carts span').remove();
            $('.items_carts').html("<span class='money'>$0.00</span>");
            
          }
          myCartSection();
          
          
          
          var upsell_show = false;

          $.each(cart.items, function(key, val){
            var upsell_local_val = 'upsell-handle'+val.handle;           
            if(localStorage.getItem(upsell_local_val) != null && localStorage.getItem(upsell_local_val) != ''){
              var upsell_local_html = localStorage.getItem(upsell_local_val);
              upsell_final_html += upsell_local_html;
              upsell_show = true;
            }
            if(key === cart.items.length - 1){
              if(upsell_show){
                $('#wc_cart_drawer_upsell').append(upsell_final_html);
                check_upsell_code();
              }
            }
          });
          
        });
      },100);
    },
    on_item_added: function(item){
      //wc_theme_source.lib.on_cart_update(item);
      ajaxCart.load();
    },
    on_product: function(e){
      alert("Received everything we ever wanted to know about " + e.title);
    },
    addtocart_product: function(id, qty, callback){
      var qty = qty || 1;
      var ajax = {
        type: "POST",
        url: "/cart/add.js",
        data: "quantity=" + qty + "&id=" + id,
        dataType: "json",
        success: function(item){
          if((typeof callback) === 'function'){
            callback(item, id);
          } else{
            wc_theme_source.lib.on_item_added(item);
          }
        },
        error: function(XMLHttpRequest, textStatus){
          wc_theme_source.lib.ajax_error(XMLHttpRequest, textStatus);
        }
      };
      jQuery.ajax(ajax);
    },
    get_product: function(handle, callback){
      jQuery.getJSON("/products/" + handle + ".js", function(product, n){
        wc_theme_source.lib.on_product(product);
      });
    },
    get_cart: function(callback){
      jQuery.getJSON("/cart.js", function(cart, textstatus){
        if((typeof callback) === 'function'){
          callback(cart);
        } else{
          wc_theme_source.lib.on_cart_update(cart);         
        }
      });
    },
    addtocart_form: function(form_id, callback, errorCallback){
      var ajax = {
        type: 'POST',
        url: '/cart/add.js',
        data: jQuery('#' + form_id).serialize(),
        dataType: 'json',
        beforeSend: function(){
          jQuery('#'+form_id).find(".cart_btn_class").attr("disabled", true);
        },
        success: function(item){
          if((typeof callback) === 'function'){
            callback(item, form_id);
          } else{
            wc_theme_source.lib.on_item_added(item);
          }
          jQuery('#'+form_id).find(".cart_btn_class").attr("disabled", false);
          jQuery('#added_product_popup').find('h3').html('<strong>'+ item.title + '</strong> <span>added to your Cart</span>');
          jQuery('#added_product_popup').show("clip", 500);
          
        },
        error: function(XMLHttpRequest, textStatus){
          if((typeof errorCallback) === 'function'){
            errorCallback(XMLHttpRequest, textStatus);
          } else{
            wc_theme_source.lib.ajax_error(XMLHttpRequest, textStatus);
          }
        }
      };
      jQuery.ajax(ajax);
    },
    cart_change_item: function(line, qty, callback){
      var ajax = {
        type: 'POST',
        url: '/cart/change.js',
        data: 'quantity=' + qty + '&line=' + line,
        dataType: 'json',
        success: function(cart){
          if((typeof callback) === 'function'){
            callback(cart);
          } else{
            wc_theme_source.lib.on_cart_update(cart);
          }
        },
        error: function(XMLHttpRequest, textStatus){
          wc_theme_source.lib.ajax_error(XMLHttpRequest, textStatus);
        }
      };
      jQuery.ajax(ajax);
    },
    cart_remove_item: function(line, callback){
      var ajax = {
        type: "POST",
        url: "/cart/change.js",
        data: "quantity=0&line=" + line,
        dataType: "json",
        beforeSend: function(){
          jQuery('.cart_loader_cls_id').show();
        },
        success: function(cart){
          if((typeof callback) === 'function'){
            callback(cart);
          } else{
            wc_theme_source.lib.on_cart_update(cart);
          }
          jQuery('.cart_loader_cls_id').hide();
        },
        error: function(XMLHttpRequest, textStatus){
          wc_theme_source.lib.ajax_error(XMLHttpRequest, textStatus);
        }
      };
      jQuery.ajax(ajax);
    },
    cart_clear_all: function(){
      var ajax = {
        type: "POST",
        url: "/cart/clear.js",
        data: "",
        dataType: "json",
        success: function(cart){
          wc_theme_source.lib.on_cart_update(cart);
        },
        error: function(XMLHttpRequest, textStatus){
          wc_theme_source.lib.ajax_error(XMLHttpRequest, textStatus);
        }
      };
      jQuery.ajax(ajax);
    },
    update_cart_form: function(form){
      var ajax = {
        type: "POST",
        url: "/cart/update.js",
        data: jQuery("#" + form).serialize(),
        dataType: "json",
        beforeSend: function(){
          jQuery('#'+form).find(".cart_btn_class").attr("disabled", true);
        },
        success: function(cart){
          wc_theme_source.lib.on_cart_update(cart);
          jQuery('#'+form).find(".cart_btn_class").attr("disabled", false);
        },
        error: function(XMLHttpRequest, textStatus){
          wc_theme_source.lib.ajax_error(XMLHttpRequest, textStatus);
        }
      };
      jQuery.ajax(ajax);
    }
  }
}

jQuery(document).on('click','.main_atc_btn',function(){
  setTimeout(function(){
    $('body').addClass('CartOpen');
  },800);
  var temp_form_id = jQuery(this).closest('form').attr('id');
  wc_theme_source.lib.addtocart_form(temp_form_id);
  return false;
});
jQuery(document).on('click', '.cart_add_btn', function(){
  var temp_variant_id = jQuery(this).attr('data-id');
  var temp_qty = 1;
  wc_theme_source.lib.addtocart_product(temp_variant_id, temp_qty);

  return false;
});




jQuery('.wishlist_add_btn_cls').click(function(){
  var temp_form_id = jQuery(this).closest('form').attr('id');
  var remove_var = jQuery(this).parents('.cartItem').find('.remove_btn_wislist');
  wc_theme_source.lib.addtocart_form(temp_form_id);
  return false;
});

jQuery('.close_popup_btn_addtocart').click(function(){
  var defalut_text = 'Product added to your Cart';
  jQuery('#added_product_popup').hide("clip", 500);
  setTimeout(function(){
    jQuery('#added_product_popup').find('h3').text(defalut_text);
    jQuery('#added_product_popup').find('.cart_redirect_btn').show();
  },800);
});

jQuery(document).ready(function(){
  ajaxCart.load();
  
  if($('#ajax_cart_upsell').length > 0){
    var upsell_html = $('#ajax_cart_upsell').html();
    var product_handle = 'upsell-handle'+$('.wc_main_pro').data('product-handle');
   // console.log(upsell_html);
    localStorage.setItem(product_handle, upsell_html);
  }
  $('.productitem--action-atc').click(function(){
    var product_varid =  'upsell-handle'+$(this).data('variant-id');
    var data_pro_id = '#ajax_cart_upsell-'+$(this).data('variant-id');
    if($(data_pro_id).length > 0){
      var upsell_html = $(data_pro_id).html();
      var product_handle =  'upsell-handle'+$(this).data('product-handle');
      localStorage.setItem(product_handle, upsell_html);
    }
  });
});	

$(document).on('click', '.upcell_cart_id', function(){
  var btn_this = $(this);
  var product_id = btn_this.data('id');
  $.ajax({
    type: 'POST',
    url: '/cart/add.js',
    data: {quantity:1, id:product_id},
    dataType: 'json',
    beforeSend: function(){
      btn_this.addClass('disabled_button_cls');
    },
    success: function(cart){
      ajaxCart.load();
      $(this).removeClass('disabled_button_cls');
      setTimeout(function(){
        $('body').addClass('CartOpen'); 
      },800);
    },
    error: function(XMLHttpRequest, textStatus){
      console.log(XMLHttpRequest);
    }
  });
});